
body{
    background-color: beige;
}

input{
    width: 50px;

    background-color:rgb(50,50,50);
    color: whitesmoke;

    border-radius: 10px;
    border-color: rgb(10,10,10);
}

button{
    background-color:rgb(50,50,50);
    color: whitesmoke;

    border-radius: 5px;
    border-color: rgb(10,10,10);
}

#view{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 70%;
    height: 100%;

    background-color: beige;
}

#creator{
    position:absolute;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 100%;

    overflow: scroll;
    /* display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    background-color: darkslategray;
    color: whitesmoke;
}
